<style type="text/css">body {background: none;}</style>

<nav class="navbar navbar-fixed-top" style="background-color: black !important;">
        <div class="navbar-header" style="padding: 10px;">
          <div class="navbar-brand slink" href="#/" style="color: pink">Daqya Executive</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="slink"><a href="#/admin" class="slink">Logout</a></li>
          </ul>
      </div>
</nav>

<ng-include src="'/admin-sidebar.html'"></ng-include>


<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-9 col-md-offset-1" style="margin-top: 100px">
          <h1 class="page-header">Admins</h1>
          <br/><button class="btn btn-default" ng-click="newAdmin()">Create a New Admin</button>
          <p><br/><br/>You can see the system admins here:</p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="admin in admins">
                  <td>{{admin.name}}</td>
                  <td>{{admin.email}}</td>
                  <td><button class="btn btn-default" ng-click="delete(admin._id)">Delete</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>